<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automation Demo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="index.html">Home</a></li>
                    <li role="presentation"><a href="vote.html">Pg 2</a></li>
                    <li role="presentation"><a href="results.html">Pg 3</a></li>
                </ul>
            </nav>
            <h1 class="text-muted">Demo - CI/CD Pipeline Demo</h1>
        </div>
        <div class="jumbotron">
            <h2>Have a Great Weekend!</h2>
            <p class="lead">By Devin Nance and Dave Ahr.</p>
            <a class="btn btn-success" href="vote.html" role="button">This button does nothing</a>
            <a class="btn btn-success" href="results.html" role="button">Neither does this one</a>
        </div>
        <footer class="footer">
            <p></p>
            <p></p>
        </footer>
    </div>
</body>
</html>
